sudo: false
language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: true
node_js:
  - iojs
before_script:
  - npm prune
script:
  - npm run test
after_success:
  - npm run semantic-release